.user_play-list-container{
    display: flex;
    flex-wrap: wrap;
}

.user_play-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}